.animate-slide-left {
    animation: slideLeft 0.5s forwards;
}
.animate-slide-right {
    animation: slideRight 0.5s forwards;
}
@keyframes slideLeft {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}
@keyframes slideRight {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

.hide-scrollbar::-webkit-scrollbar { display: none; }